<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
    <div class="g-recaptcha" data-sitekey="6LeSNf4SAAAAAI-AAh7ZNmtAhRYHGpCPXfQyHDuW"></div>
  </p>
  <p>
    <%= f.submit :class=>"small button" %>
  </p>
<% end %>
