
<%= form_for @article do |f| %>
<fieldset>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title %>

    <%= f.label :overview %><br>
    <%= f.text_area :overview %>

    <%= f.label :text %><br>
    <%= f.text_area :text %>
    <%= f.label :image %><br>
    <%= f.file_field :image %>

    <%= f.submit :class=>"small button" %>
</fieldset>
<% end %>
