 <%= link_to 'New article', new_article_path %>
<% @articles.each do |article| %>
<article>
<h3><a href="blog/<%= article.id %>"><%= article.title %></a></h3>
<div class="row">
<div class="large-6 columns">
Test
</div>
<div class="large-6 columns">
<img src="<%= article.image %>"/>
</div>
</div>
<%=raw article.overview %>
</article>
  <% end %>
<p>
<%= will_paginate @articles %>
</p>
