<article>
<h3><a href="#"><%= @article.title %></a></h3>
<h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
<div class="row">
<div class="large-6 columns">
Test
</div>
<div class="large-6 columns">
<img src="<%= @article.image %>"/>
</div>
</div>
<%=raw markdown(@article.text) %>
</article>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
