<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title><%= @page_title %> | Unicode4all</title>
<meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more."/>
<meta name="author" content="ZURB, inc. ZURB network also includes zurb.com"/>
<meta name="copyright" content="ZURB, inc. Copyright (c) 2015"/>
<script src='https://www.google.com/recaptcha/api.js'></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<link rel="stylesheet" href="/assets/foundation.css"/>
<link rel="stylesheet" href="/assets/style.css"/>
<script src="/assets/vendor/modernizr.js"></script>

</head>
<body>

<link href="http://fonts.googleapis.com/css?family=Raleway:600,400,200" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet" type="text/css">
<div class="row">
<div class="small-12 medium-4 large-6 columns namelogo">
<a href="/"><h1>Unicode <span style="text-decoration:line-through; font-size:7pt">not</span> For All</h1></a>
</div>
<div class="small-12 medium-8 large-6 columns">
<div class="nav-bar">
<ul class="button-group">
<li><a href="#" class="button"><%= t('About') %></a></li>
  <li><a href="/blog" class="button"><%= t('Blog') %></a></li>
</ul>
</div>
</div>
</div>
  <% if notice %>
  <div class="alert-box success">
  <%= notice %>
  <a href="" class="close">&times;</a>
</div>
    <% end %>
<% if alert %>
  <div class="alert-box alert">
  <%= alert %>
  <a href="" class="close">&times;</a>
</div>
<% end %>
<div class="row">
<%= yield %>
</div>
<div class="row contact">
<hr>
<div class="large-12 columns">
<h4>Contact Me</h4>
<div class="large-2 columns">
<strong>Email/Jabber</strong>: <a href="mailto:celestia@unicode4all.org">celestia@unicode4all.org</a>
</div>
</div>
</div>
<footer class="row">
<div class="large-12 columns">
<div class="row">
<div class="large-6 columns">
<p>© Copyright 2015 Unicode4all.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Privacy</a></li>
</ul>
</div>
</div>
</div>
</footer>
<!--<script src="/assets/vendor/jquery.js"></script>-->
<script src="/assets/foundation.min.js"></script>
<script src="/assets/vendor/foundation/foundation.js"></script>
<script src="/assets/vendor/foundation/foundation.clearing.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
</html>
